{{ define "navbar" }}
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand px-4 py-2">
            <a class="navbar-item" href="/">
                <!--                <img src="/static/images/logo.svg" alt="logo">-->
                <strong>goliveview-starter</strong>
            </a>

            <a role="button"
               id="navbar-burger"
               class="navbar-burger"
               aria-label="menu"
               aria-expanded="false"
               data-toggle-ids="navbar-menu,navbar-burger"
               data-toggle-class="is-active"
               data-action="click->util#toggle">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar-menu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {{if .is_logged_in}}
                            <a class="button is-light"
                               href="/app">
                                App
                            </a>
                            <a class="button is-light"
                               href="/account">
                                Account
                            </a>
                        {{else }}
                            <a class="button is-light" href="/login">
                                Sign in
                            </a>
                            <a class="button is-light" href="/signup">
                                Sign up
                            </a>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </nav>
{{ end }}