{{define "content"}}
    <div class="columns is-mobile is-centered">
        <div class="column is-one-third has-text-centered">
            <div data-controller="glv" id="signup">
                <div class="py-5">
                    <div class="box">
                        <p class="has-text-warning-dark">Unknown signin token. Please signin again.</p>
                    </div>
                    <a class="button is-primary" href="/login">Sign in</a>
                </div>
            </div>
        </div>
    </div>
{{end}}